

:root{
    --clr-highlight: hsl(212, 100%, 50%);
    --clr-main-bg: hsl(227, 100%, 98%);
    --clr-card-bg: hsl(0, 0%, 100%);
    --clr-text: hsl(217, 35%, 45%);
    --clr-text-secondary: hsl(217, 20%, 51%);
    --clr-heading: hsl(217, 21%, 21%);
    --clr-unavailable: hsl(216, 28%, 72%);
    --clr-toggle-hover: black;
}

.form_container{
width: 100%;
max-width: 800px;
margin: auto;
padding-left: 20px;
padding-right: 20px;
}

.form_div{
    margin-top: 30px;
    display: flex;
    align-items: center;
    background-color: var(--clr-card-bg);
    border-radius: 12px;
}

.form_div input{
    width: 100%;
    height: 60px;
    background-color: var(--clr-card-bg);
    border: none;
    padding-left: 50px;
    color: var(--clr-main-bg);
    border-radius: 12px;
    font-family: 'Space Mono', monospace;
    font-size: 16px;

}
.form_div input:focus{
    background-color: var(--clr-card-bg);
    outline: none;
}


.form_div i{
    position: relative;
    width: 0%;
    left: 10px;
    font-size: 25px;
    color: var(--clr-highlight);
}

.form_div button{
    position: relative;
    
    padding: 12px 20px;
    left: -10px;
    border-radius: 12px;
    background-color: var(--clr-highlight);
    color: var(--clr-card-bg);
    border: none;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

