
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  
}
.App{
  background-color: var(--clr-main-bg);
  transition: background-color .4s;
  height: 100vh;
}

#light {
  --clr-main-bg: hsl(220, 40%, 13%);
  --clr-text: hsl(0, 0%, 100%);
  --clr-heading: hsl(225, 59%, 93%);
  --clr-card-bg: hsl(222, 41%, 20%);
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
